@charset "utf-8";
/* CSS Document */
@import 'fonts.css';

*{
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
	background-color: black;
}

/* iframe wrapres_____________________________________________________________ */

.bodyIframe {
	font-family: "DINPro";
	background-color: black;
	padding: 10px;
	height: 100vh;
}

.bodyAbout, .bodyContacts{	
	font-family: "DINPro";
	padding-bottom: 20px;
}

.bodyFeed{	
	color: rgb(219, 219, 219);
	font-family: "DINPro";
}


.body3D{	
	max-height: 800px;
}

.bodyAll {
	max-height: 1400px;
	padding-bottom: 50px;
}

.bodyArt{	
	max-height: 800px;
}

.bodyLogo{	
	max-height: 1000px;
}

.bodyPoligraf{	
	max-height: 1100px;
}

.bodyWeb{	
	max-height: 1000px;
}
/* iframe wrapres___________________________________________________________ */

/* gallery styles____________________________________________________________ */
#cont_units {
	margin:auto;
	width:100%;
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;	
	padding: 0;
	box-sizing: border-box;		
}
	
#title > span{
	color: rgb(219, 219, 219);		  
	width:619px;	  
	margin-top: 10px;
	margin-bottom: 10px;
	display: block;
	}

.unit {	
	margin: 2px;	
	transition-duration: 250ms;
	display: flex;	
	color: rgb(219, 219, 219);	
	background-size: cover;	
	background-repeat: no-repeat;
	background-position: center center;	
	cursor: pointer;
	flex-grow: 1;	
}

.unitAll {
	width: 20%;
	height: 150px;
}

.unitArt {
	width: 40%;
	height: 350px;
}

.unit3d{
	width: 40%;
	height: 350px;
}

.unitLogo {
	width: 30%;
	height: 200px;
}

.unitPoligraf {
	width: 30%;
	height: 200px;
}

.unitWeb {
	width: 40%;
	height: 450px;
}

.unit_pic {	
	max-height: 100%;
	max-width: 100%;  
	display: none;	
}	

.unit_pic_visible {
	display: block;
}

.slider_btn {
	position: relative;	
	background: none;
	border: none;
	cursor: pointer;
	width: 3rem;	
}

button:focus {
	outline: 0;
	border: 0;
	background: none;
}

.slider_btn_img {
	width: 2rem;
	transition:all 150ms;		
}

.slider_close{
	background-image: url(img/Close.svg);
	background-size: contain;
	width: 10%;
	position: absolute;
	top: 5%;
	right: 5%;
	height: 2rem;
	width: 2rem;
	background-color: transparent;
	border: none;
	cursor: pointer;	
}

.slider_btn:active {
	transform: scale(1.5, 1.5);
}

.slider_btn:hover,.slider_close:hover {
	filter: drop-shadow(0px 0px 5px rgb(255, 255, 255));
	transition:all 270ms;	
}

.slider_btn_left{	
	margin-left: 0px;
}

.slider_btn_right {
	margin-right: 0px;
}

.unitHover1:hover {	
	box-shadow: 0 0 23px rgba(255,255,255,0.7);	
	transform: scale(1.1, 1.1);	
}

.unitHover2:hover {	
	box-shadow: none;	
	transform: none;	
}

.slider{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	backdrop-filter: blur(8px);	
}

.slider_container{
	display: flex;
	align-items: center;
  justify-content: center;	
	width: 80vw;
	height: 90vh;	
}

.active_slider {
	display: flex;
	align-items: center;
  justify-content: center;
}

/* gallery styles______________________________________________________________ */

/* about styles_________________________________________________________________ */

p, .title_tech, table {
	color: rgb(219, 219, 219);
	text-align: center;
	font-size: 20px;
}
	
#about {
	font-size: 27px;
	margin-top: 100px;
	margin-bottom: 50px;
}		
	
.text {		
	text-align: justify;
	line-height: 2rem;
	width: 80%;
	margin: 0 auto 5rem;
}

.box {
position: relative;
width: 40%;
margin: 1rem auto 2rem;  
border: 2px white solid;
border-radius: 100%;
background-image: url(img/photo.jpg);
background-size: cover;
}

.box:before {
content: "";
display: block;
margin-top: 100%; 
}

table{
width: 80%;
margin-bottom: 200px;
margin-right: auto;
margin-left: auto;
font-size: 17px;	
margin-top: 50px;
}

td {
width: calc(100%/3);
padding: 0.7rem;
}

td > img {
margin-top: 5px;
margin-bottom: 2px;
}

/* about styles __________________________________________________________ */


/* contacts styles______________________________________________________________ */

p {
	color: rgb(219, 219, 219);
	text-align: center;
	font-size: 20px;
}
	
#contacts {
	font-size: 27px;
	margin-top: 100px;
	margin-bottom: 50px;
}		
	
#smm_links{
	width: 60%;
	height: 100px;
	display: flex;
	justify-content: space-between;
	margin: auto;
	padding: 20px;			
}	
			
.icons{
	width: 30px;
	height: 30px;			
	margin: auto;
	background-size: contain;
	background-repeat: no-repeat;
}
	
.smm_links{
	margin: 0;
	width: 45px;
	height: 45px;		
	background-size: contain;
	cursor: pointer;			
}

.smm_links:hover{
	transform: scale(1.2);			
}

/* contacts styles______________________________________________________________ */

/* feedback styles______________________________________________________________ */

.caption{
	text-align: center;
}

.form_wraper {
	width: 70%;
	margin: auto;
	padding-bottom: 20px;
	background-color: black;
}

input, textarea {			
	border: solid 1px rgb(219, 219, 219);
	background-color: black;
	transition:all 250ms;
	width: 100%;
	color: rgb(219, 219, 219);
	font-size: 1rem;
}

.form_title {
	margin-bottom: 5px;
	margin-top: 10px;
}

input {
	height: 30px;
	width: 50%;			
}

.submit_btn {
	height: 40px;
	border: none;
	background-color: rgb(63, 63, 63);
	font-size: 1.2rem;
	cursor: pointer;	
	margin-bottom: 20px;
	color: rgb(219, 219, 219);	
	font-family: "DINPro";
}

textarea {
	height: 300px;
	margin-bottom: 10px;						
}

input, textarea, .form_title {
	display: block;			
}

textarea:hover, input:hover{
	box-shadow: 0 0 17px rgba(255,255,255,0.5);
}

.submit_btn:hover{
	border: solid 1px rgb(219, 219, 219);
	background-color: rgb(105, 105, 105);
}

.submit_btn:active {
	background-color: rgb(219, 219, 219);
	color: black;
}

/* feedback styles______________________________________________________________ */

@media screen and (max-width: 940px){
	.unit_pic{
		max-height: 82vh;
		width: 100%;
		height: auto;			
	}

	.slider_container {
		height: auto;
		width: auto;	
	}

	.slider_btn {
		position: absolute;
		filter: drop-shadow(0px 0px 5px #222);
	}

	.slider_btn_left {
		left: 0;
	}

	.slider_btn_right {
		right: 0;
	}
}

@media screen and (max-width:400px) {
	/* gallery media______________________________________________________________ */
	.body3D {
		max-height: 500px;
	}

	.bodyLogo {
		max-height: 600px;
	}

	.bodyPoligraf {
		max-height: 700px;
	}

	.unitAll {
		width: 25%;
		height: 100px;
 }

	.unitLogo {				
	width: 40%;
 }	

	.unitPoligraf {				
		width: 30%;
	}

	.none_400{
		display: none;
	}
	
/* gallery media_________________________________________________________________ */

/* feedback media______________________________________________________________ */

.form_wraper {
	width: 90%;						
	}

	input{
		width: 100%;
	}

	.caption{
		font-size: 1.5rem;
	}

/* feedback media______________________________________________________________ */
}

@media screen and (max-width:600px) {
	/* gallery media__________________________________________________________ */
	.unitAll {				
		height: 100px;
	}

	.unit3d {				
		height: 200px;
	}

	.unitArt {				
		height: 200px;
	}

	.unitLogo {				
		height: 110px;
	}

	.unitPoligraf {				
		height: 110px;
	}

	.unitWeb {				
		height: 200px;
	}

	.slider_btn {
		opacity: 0;
		height: 50%;
	}
	
/* gallery media__________________________________________________________________ */

/* about media_________________________________________________________________ */
.box {
	width: 60%;
}

.text, table{
	width: 100%;
}
/* about media_____________________________________________________________________ */

/* contacts media___________________________________________________________________ */

#smm_links {				
	width: 80%;
 }

/* contacts media___________________________________________________________________ */

/* feedback media______________________________________________________________ */

.form_wraper {
	width: 90%;						
	}
	input{
		width: 70%;
	}

/* feedback media______________________________________________________________ */

}		