@charset "utf-8";
/* CSS Document */
@import 'fonts.css';

*{
	box-sizing: border-box;
	
}

html, body, iframe { height: 100%; }


body{
	font-family: "DINPro";
	margin:0;
	padding:0;
	background: #989797;
	background-image: url(img/bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

h1{
	font-family: "Concepto";
	font-size: 3rem;
	font-style: italic;
	padding: 0;
	margin: 0;
}

h2{
	margin-top: 0;
	padding-top: 0;
}

hr{
	background-color: #000000;
}

div, table, nav {	
	margin:1px;	
}


/* background decoration */

.bg_deco_wrap {
	z-index: -10 !important;
	top: 0;
	position: absolute;
	width: 100%;
	height: 100%;
}

.bg_deco_fixed{
	z-index: 1 !important;
	position: fixed;
	width: 100%;
}

.bg_deco {
	transform: rotate(45deg) skew(45deg) translate(0, 0);	
	background: linear-gradient(315deg, rgba(130, 130, 130, 1) 56%, rgba(253, 253, 253, 0));		
	margin-bottom: 50px;
	transform-origin: top left;
	
	
}

.bg_deco_1 {		
	height: 0.5rem;
	width: 90vh;
	transition: 200ms ease-in;
	margin-left: 40%;
}

.bg_deco_2 {		
	height: 0.3rem;
	width: 70vh;
	transition: 150ms;
	transform: rotate(45deg) skew(45deg) translate(80vh, 0);
	background: #ffffff;
}

.bg_deco_3 {		
	height: 0.4rem;
	width: 70vh;
	transition: 100ms;
	margin-left: 30%;
}

.bg_deco_4 {		
	height: 0.1rem;
	width: 70vh;
	transition: 300ms ease-out;
	transform-origin: bottom right;
}

.bg_deco_5 {		
	height: 0.3rem;
	width: 70vh;
	transition: 100ms;
	
}

.bg_deco_6 {		
	height: 0.2rem;
	width: 70vh;
	transition: 200ms ease-in;
	background: #ffffff;	
	transform: rotate(45deg) skew(45deg) translate(50vh, 0);
}


.bg_deco_7 {		
	height: 0.3rem;
	width: 70vh;
	transition: 250ms ease-in;
	margin-left: 90%;
	background: #ffffff;
}

.bg_deco_8 {		
	height: 0.3rem;
	width: 70vh;
	transition: 100ms;
}

.bg_deco_9 {		
	height: 0.3rem;
	width: 70vh;
	transition: 200ms;
	margin-left: 90%;
}

.bg_deco_10 {		
	height: 0.2rem;
	width: 70vh;
	transition: 100ms;
}

.bg_deco_11 {		
	height: 0.3rem;
	width: 70vh;
	transition: 200ms ease-out;
	margin-left: 70%;
}

.bg_deco_12 {		
	height: 0.1rem;
	width: 70vh;
	transition: 150ms;
	margin-left: 80%;
	background: #ffffff;
}



/* background decoration */


.mother_wrap{
	width:60%;
	margin:0 auto;
	height: 100%;
	padding:0;
	border: none;
	z-index: 2 !important;
	

		
	
	}
#nav_block {
	width: 250px;
	margin: -1px 0 0 -1px;	
	float: left;
	background-color: black;
	position: fixed;
	z-index: 2;
	
}

#laible {
	width: 210px;
	height: 210px;
	margin: 44px auto;
	background-image: url("img/ava.jpg");
	background-size:cover;
	border-radius: 150px;
}

nav{
	margin: auto;
	border: none;
  width: 210px;
	padding: 0;
		
}

a {
	text-decoration: none;
	color: rgb(219, 219, 219);
	transition: all 250ms;
	padding: 3px 0 3px;
	
	

}

nav ul{
	list-style: none;	
	margin-right: 0;
	text-align: right;
	padding: 0;
	margin-top: 0px;
	
}

nav ul li, .st {
	font-size: 27px;
	border-bottom: solid 1px #DFDFDF;		
}

.wrap_dounload{
	display: inline-block;
	height: 27px;
	width: 27px;
	overflow: hidden;	
	margin-bottom: -5px;
	
	
}

.dounload {	
	height: 22px;
	width: 22px;	
	background-image: url("img/dounload.png");
	background-repeat: no-repeat;
	background-size: contain;	
	background-position: right ;		
	transition: 1s;
	
	
	
	
	
}



a:hover .dounload{	
  -webkit-animation: card-shift 2s ease-in-out infinite;
  animation: card-shift 2s ease-in-out infinite;
  animation-timing-function: step-start;
  z-index: -3;
 /* height: 600px; */
  top: 0px;
  left:0;
  right: 0;
  bottom: 0;
	
	

}

@-webkit-keyframes card-shift {
	0% {
		-webkit-transform:translate3d(0,0,0);
		transform:translate3d(0,0,0)
	 }
	 
	 50% {
		-webkit-transform:translate3d(0,30px,0);
		transform:translate3d(0,30px,0)
	 }	
	 100% {
		-webkit-transform:translate3d(0,0,0);
		transform:translate3d(0,0,0);
		
		
	 }	  
	 
 }
 @keyframes card-shift {
	0% {
		-webkit-transform:translate3d(0,0,0);
		transform:translate3d(0,0,0)
	 }
	 
	 50% {
		-webkit-transform:translate3d(0,30px,0);
		transform:translate3d(0,30px,0)
	 }	
	 100% {
		-webkit-transform:translate3d(0,0,0);
		transform:translate3d(0,0,0);
		
	 }	  
 }

.menu{
	margin-bottom: 0px;	
	border-top: solid 1px #DFDFDF;
}

.menu li {
	font-size: 15px;
	border: none;
	
}

header{
	width:70%;
	height: 148px;	
	float: right;
	border: none;
}

#content_block{
	margin: 0;	
	float: right;
	height:100%;
	width:70%;
	background-color: black;
}

h1, h2 {
	 text-align: right;
}

hr{
	margin-top: 20px;
}

iframe {
	height: 100%;
	width: 100%;
	border: none;
	z-index: 2 !important;

	
}

/* mobile version menu */

.menu{ 
  display:none;
}

.hamburger-menu{
	display: none;
	margin-left: 0;
}

.menu__btn {
  display: flex; 
  align-items: center;  
  position: relative;  
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
	margin-left: 0;
}

.menu__btn > span
 {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: rgb(219, 219, 219);
}

#before 
{ 
  margin-top: 18px;
}
 #after
{
  margin-bottom: 18px;
}

#menu__box {
  display: block;
  position: fixed;
  visibility: hidden; 
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;	
  padding: 80px 0;
 list-style: none;
  text-align: center;
  background-color: #000000;
  box-shadow: 1px 0px 6px rgba(216, 216, 216, 0.2);
}

.menu__item {
  display: block;
  color: rgb(219, 219, 219);  
  font-size: 27px;  
  text-decoration: none;
	text-align: right;
	padding-right: 10px;
}

#menu_2 li a {
	padding-right: 10px;
}
.menu__item:hover {
  background-color: #CFD8DC;
	color: black;
}

a:hover {
	background-color: rgb(105, 105, 105);
}

a:active {
	background-color: rgb(219, 219, 219);
	color: black;
}


.menu__btn > span
 {
  transition-duration: .25s;
}
#menu__box {
  transition-duration: .25s;
}
.menu__item {
  transition-duration: .25s;
}

a{
	display: block;
}


@media screen and (max-width: 1450px){
	.mother_wrap {
		width: 90%;
	}

}

@media screen and (max-width: 940px) {
	
body {
	background-image: none;
	background-color: #000000;	
}

.bg_deco_wrap{
	display: none;
}

.header_wrapper {
	position: fixed;
	width: 100%;
	top: 0;
	background-color: rgb(46, 46, 46);
}

	header{		
		width: 90%;		
		float: none;	
		margin: auto;
		display: flex;		
	}

	.header{
		display: inline-block;
		width: 1000px;
	}

	h1 {
		font-size: 1.5rem;
		line-height: 1rem;
		color: rgb(219, 219, 219);
		margin: 0;
		margin-top: 13px;
		margin-bottom: 13px;
		
	}

	h2 {
		font-size: 1rem;
		line-height: 1rem;
		color: rgb(219, 219, 219);
		margin: 0;
		
	}

	header {	
		overflow: hidden;
		height: 100px !important;
	}
	
	.hamburger-menu {
		display: block;
	}
	body {
		background-color: rgb(0, 0, 0);
	}

  #nav_block {
		display: none;
	}

	#laible {
		display: none;
	}

	#content_block{		
		width: 90%;
		margin-right: auto;
		margin-left: auto;
		float: none;
		margin-top: 100px;		
	}	
	
	.mother_wrap {
		width: 100%;
		
	}

	hr{
		background-color: rgb(219, 219, 219);
	}

}

@media screen and (max-width: 400px) {
	
	
		h1 {
			font-size: 1rem;
			line-height: 1rem;
			color: rgb(219, 219, 219);
			margin-top: 3px;
			margin-bottom: 3px;
		}
	
		h2 {
			font-size: 0.8rem;
			line-height: 1rem;
			color: rgb(219, 219, 219);
			margin-top: 3px;
			margin-bottom: 3px;
		}

		header {			
			overflow: hidden;
			height: 70px !important;
		}

		#content_block{
			margin-top: 75px;
			width: 95%;
		}
	}
